:root {
  --gray-white: #fff;
  --gray-50: #f0f1f3;
  --gray-100: #e6e8eb;
  --gray-200: #c3c7ce;
  --gray-300: #a5acb5;
  --gray-400: #87909d;
  --gray-500: #697484;
  --gray-600: #556070;
  --gray-700: #424e60;
  --gray-800: #2b384c;
  --gray-900: #132238;
  --primary-100: #edd8ff;
  --primary-200: #dbb1ff;
  --primary-300: #c98bff;
  --primary-400: #b764ff;
  --primary-500: #a53dff;
  --primary-600: #8431cc;
  --primary-700: #632599;
  --primary-800: #421866;
  --primary-900: #210c33;
  --font-family: "Work Sans", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Public Sans", sans-serif;
}

/**NAVIGATION */
#nav {
  padding: 0;
  height: 96px;
  z-index: 2;
  background: var(--gray-white);
}
#nav ul li a {
  padding: 0;
  padding: 12px 24px;
}
#nav ul li a:hover {
  color: var(--primary-500);
}
#nav ul li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #333;
  padding: 32px 0px;
}
#nav ul li:last-child a {
  border-radius: 4px;
  background: var(--primary-500);
  display: inline-block;
  color: var(--gray-white);
}
#nav .mobileIconBtn{
  padding: 0;
  background-color: transparent;
  border: 2px solid var(--gray-900);
  padding: 0 5px 5px 5px;
  margin-right: 5%;
  /* border: none; */
}
#nav .mobileIcon{
  display: block;
  font-size: 25px;
  font-weight: bold;
}
/**NAVIGATION END*/
